mixin animCount 
  .animCount__area
    .animCount__outer
      .animCount__wrapper
        .animCount
          .animCount__number
            span.animCount__numberOn 15
            span +
          .animCount__numberInfo
            | Лет
            br
            | в строительстве
        .animCount
          .animCount__number
            span.animCount__numberOn 20
            span 
          .animCount__numberInfo
            | Лет 
            br
            | гарантии на каркас
        .animCount
          .animCount__number
            span.animCount__numberOn 1500
            span +
          .animCount__numberInfo
            | М<sup>2</sup> жилой площади 
            br
            | сдано
        .animCount
          .animCount__number
            span.animCount__numberOn 49
            span +
          .animCount__numberInfo
            | Построенных 
            br
            | объектов



mixin about 
  .page__area
    .page
      .title1.title2_center
        h1 СТРОИТЕЛЬСТВО КАРКАСНЫХ ДОМОВ И КОТТЕДЖЕЙ В САРАТОВЕ И ЭНГЕЛЬСЕ
      .content
        p
          strong Малоэтажное каркасное строительство 
          |  — основной вид деятельности нашей компании.
        p
          | Возведение объектов по каркасной технологии — современный, экономичный, экологичный и достаточно быстрый процесс. Он занимает небольшой промежуток времени: в среднем от 1-го до 3-х месяцев на объект. И такая технология обходится заказчику значительно дешевле, чем выполнение работ из кирпича, бруса, и других материалов.
        p
          | Огромный опыт нашей команды строителей и проектировщиков позволяет выполнить любой проект по возведению каркасного строения. Мы всегда готовы предложить своим клиентам различные варианты проектов, которые будут отвечать вашим требованиям и нуждам.
        p
          | Мы осуществляем строительство по скандинавской и канадской технологиям таких объектов как:
        ul
          li
            a(href='https://karkas64.ru/stroitelstvo-karkasnyix-domov/') каркасные дома
            |  разной этажности
          li
            a(href='https://karkas64.ru/pristrojki/') пристройки к домам
            |  и другим объектам
          li
            | возводим 
            a(href='https://karkas64.ru/terrasyi-i-verandyi/') веранды 
            | открытого и закрытого исполнения
          li
            | разбиваем 
            a(href='https://karkas64.ru/terrasyi-i-verandyi/') террасы
          li
            | строим 
            a(href='https://karkas64.ru/bani-pod-klyuch/') бани под ключ
            |  по каркасной технологии
          li
            | выполняем внутреннюю и наружную 
            a(href='https://karkas64.ru/otdelka-derevom/') отделку деревом
        p
          | Готовое строение обладает небольшим весом, что позволяет экономить на фундаменте. Малозаглубленный фундамент каркасного дома не дает деформацию и усадку.
        p
          | Мы используем только 
          strong качественные, проверенные временем материалы
          | , что дает возможность эксплуатировать готовые объекты долгие годы. Такие постройки с легкостью выдерживают суровые климатические условия. Не даром они используются на крайнем севере, где температура варьируется от +30 до -50 градусов в течение года.
        p Все коммуникации с легкостью скрываются под обшивкой конструкции.
        p Также мы выполняем работы по демонтажу, реконструкции и достройке.


mixin commentsCaroucel
  .commentsCaroucel__area
    .commentsCaroucel__outer.wsite
      .title3.tac
        h2=commentsTitle
      .commentsCaroucel
        .swiper-container.commentsCaroucel-container
          .swiper-wrapper.commentsCaroucel-wrapper
            each item in comments
              .swiper-slide.commentsCaroucel-slide
                .commentsCard__outer(id=item.id)
                  .commentsCard 
                    .commentsCard__inner
                      .commentsCard__top 
                        //-.commentsCard__img(style='background-image: url(' + item.avatar + ');') 
                        .commentsCard__info 
                          .commentsCard__name!= item.Name
                          .commentsCard__date
                            span!= item.date 
                      .commentsCard__textArea
                        .commentsCard__text.cutLongString150!= item.text
                        if item.fulltext
                          .commentsCard__textAll!= item.fulltext
                        if item.fulltext
                          .commentsCard__more Читать весь отзыв
                      //- .commentsCard__doktor
                      //-   .commentsCard__doktorName!= item.doktorName
                      //-   .commentsCard__doctorPosition!= item.doktorPosition
                  

        .commentsCaroucel__left
          i.fa.fa-angle-left
        .commentsCaroucel__right
          i.fa.fa-angle-right
        .swiper-pagination.commentsCaroucel__pagination
      .redmore__area 
        a.redmore(href="#") Смотреть ещё отзывы 

mixin mainProjects 
  .mainProjects__area 
    .mainProjects__outer
      .title3.tac
        h2=mainProjectsTitle
        
      .mainProjects 
        .mainProject__outer 
          .mainProject
            .mainProject__img(style="background-image: url(assets/img/prj/p1.jpg)")
            .mainProject__info 
              .mainProject__title Двухэтажный каркасный дом
              .mainProject__desc Общая площадь: 84 м2
              .mainProject__price Цена от 800 тыс.руб.
        .mainProject__outer 
          .mainProject
            .mainProject__img(style="background-image: url(assets/img/prj/p2.jpg)")
            .mainProject__info 
              .mainProject__title Двухэтажный каркасный дом
              .mainProject__desc Общая площадь: 84 м2
              .mainProject__price Цена от 800 тыс.руб.
        .mainProject__outer 
          .mainProject
            .mainProject__img(style="background-image: url(assets/img/prj/p3.jpg)")
            .mainProject__info 
              .mainProject__title Двухэтажный каркасный дом
              .mainProject__desc Общая площадь: 84 м2
              .mainProject__price Цена от 800 тыс.руб.
      .redmore__area 
        a.redmore(href="#") Смотреть ещё проекты 

mixin basePrice 
  .basePrice__area 
    .basePrice__outer 
      .pasePrice В базовой комплектации стоимость 1 м<sup>2</sup> по полу: из OSB от 12 000 рублей.<br>из ЦСП от 14 000 рублей С ГОРАНТИЕЙ 20 ЛЕТ НА КАРКАС


mixin mainContacts 
  .mainContacts__area
    .mainContacts__outer.wsite
      .mainContacts
        .mainContacts__left
          h3 Наш адрес в Саратове
          .content
            p 413000, г. Саратов, улица Слонова, дом 1 
            p <i>офис "Каркас64"</i>
        .mainContacts__right
          .map__area.map__area1
            #map
      .mainContacts
        .mainContacts__left
          h3 Наш адрес в Энгельсе
          .content
            p 413100, г. Энгельс, улица Мельничная,
            p <i>ГСК Волжский. Строение 222</i>
        .mainContacts__right
          .map__area.map__area2
            #map2

mixin oldContacts
  .dBox__area
    .dBox
      .dBox__left
        .title2.title2_center
          h3 Мы на карте
        .map__area
          #map
      .dBox__right
        .title2.title2_center
          h3 Обратная связь
        form.form1(action='#')
          input.name1(name='name1' type='text' placeholder='Ваше имя')
          input.phone1(name='phone1' type='text' placeholder='Ваш телефон')
          input.email1(name='email1' type='text' placeholder='Ваш email')
          input.work_email1(name='work_email1' type='text' placeholder='Рабочий email')
          textarea.message1(name='message1' cols='30' rows='10' placeholder='Ваш вопрос:')
          .form__policy
            p
              | *Отправляя сообщение Вы соглашаетесь с условиями
              a(href='#' target='_blank') политики конфиденциальности
          button.submit1(type='submit' name='submit1') Задать вопрос